<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="css/a_data_007.css">
  <style>
    body {
      margin: 0;
      padding: 0;
      transform: scale(0.8);
      transform-origin: 0 0;
    }

    #wrapper {
      width: 125%;
    }
  </style>
</head>

<body>

  <div id="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#!">Navbar</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item active">
            <a class="nav-link" href="#!">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#!">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
      </div>
    </nav>

    <div class="mx-4 my-4">

      <div>
        <p>Hello. A little bit of static body text. Plain and simple.</p>
        <div>
          <button type="button" class="btn btn-primary">Primary</button>
          <button type="button" class="btn btn-secondary">Secondary</button>
          <button type="button" class="btn btn-outline-success">Success</button>
          <button type="button" class="btn btn-outline-danger">Danger</button>
          <button type="button" class="btn btn-outline-warning">Warning</button>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-6">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Form label</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">Form Text - To give hints and things</small>
            </div>
          </form>
        </div>

        <div class="col-6">
          <div class="btn-group mt-2">
            <button type="button" class="btn btn-primary">Dropdown</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Custom check</label>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-7">
          <h2>Journal</h2>
          <div class="mb-2 alert alert-primary" role="alert">
            This is a primary alert
          </div>
          <div class="mb-2 alert alert-success" role="alert">
            This is a success alert
          </div>
          <div class="mt-2">
            <div class="progress mt-2">
              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mt-2">
              <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mt-2">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mt-2">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>

        <div class="col-5">
          <div class="card text-white bg-primary mt-2 mb-2 d-inline-block" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h4 class="card-title">Primary card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the
                bulk of the card's content.</p>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
  <script type="text/javascript">
    window.onload = () => {
      window.parent.postMessage({
        type: 'PREVIEW_LOADED',
        id: 'wWpIOvSBSEwS',
      }, '*')
    }
  </script>


</body></html>